:root {
  --main-color: #7b61ff;
  --main-color-text: #ffffff;
  --secondary-color: #ff61a6;
  --secondary-color-text: #ffffff;
  --background-color: #f0f0f5;
  --text-color: #333333;
}

.btn-primary {
  background-color: var(--main-color);
  color: var(--main-color-text);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.icon-btn:hover {
  opacity: 80%;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.custom-dialog {
  width: 90%;
  max-width: 900px;
}

/* Large screens */
@media (min-width: 1200px) {
  .custom-dialog {
    width: 700px;
  }
}

/* Medium screens (tablets) */
@media (max-width: 1199px) {
  .custom-dialog {
    width: 500px;
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .custom-dialog {
    width: 300px;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .custom-dialog {
    width: 90%;
    max-width: 320px;
  }
}

.black-link {
  text-decoration: none;
  color: black;
}

.black-link:hover {
  text-decoration: underline;
}
